@media only screen and (max-width : 900px) {

  .logo-message  {
      margin: 20px 0px 0 20px;
  }
    .menu-container ul li {
        margin-left: 10px;
    }

    //main-page
    .slider-describe {

        font-size: 17px;
    }
    .slider-time p {
        font-size: 27px;
    }
    //main-page-end
}

@media only screen and (max-width: 855px) {
    .logo-message {
        margin: 20px 0px 0 5px;
    }

    .logo-message p {
        font-size: 9px;
        margin: 5px 0 0 0;
    }

    //plane page

    .flu-parameters-img {
        margin-right: 0px;
    }

}

@media only screen and (max-width: 765px) {

    .hedrer-wrap {
     text-align: center;
    }
    .logo-message p {
        font-size: 20px;
        margin: 5px 0 0 80px;
    }
    .menu-container ul li a {
        padding: 10px 30px;
    }

    .footer-left-block {
        text-align: center;
         margin-bottom: 20px ;
    }
    .footer-left-block p {
        font-size: 35px;
    }
    .footer-right-block {
        text-align: center;
        margin: 20px 0;
    }
    .footer-center-block p {
        font-size: 25px;
    }
    .footer-center-block p:last-child {
        font-size: 30px;
    }
    //main-page
    .slider-describe {

        font-size: 14px;
    }
    .slider-time p {
        font-size: 25px;
    }
    .slider-location p:first-child {
        font-size: 18px;
    }
    .slider-location p {
        font-size: 17px;
    }
    .slider-location p:last-child {
        font-size: 17px;
    }
    .slider-context h1 {
        margin-top: 200px;
    }

    .presentation-block {
        text-align: center;
    }
    .logo-message p {
        font-size: 15px;
    }

    .menu-container ul li a {
        padding: 10px 15px;
    }
    //main-page-end

    //aircraft
    .aircraft-title {
        margin: 130px 0px 5px 15px;
    }
    .aircraft-img-left,  .aircraft-img-rigt {
        text-align: center;
    }
    .aircraft-img-left img ,.aircraft-img-rigt img   {
        width: 70%;
    }
    //end-aircraft

    //company
    .company-wrap {
        padding-top: 110px;
    }
    //end-company

    //plane page

    .flu-parameters-img {
        margin-right: 15px;
    }

}


@media only screen and (max-width: 630px) {

    //main-page
    .slider-describe {

        font-size: 12px;
    }
    .slider-time p {
        font-size: 23px;
    }
    .slider-location p:first-child {
        font-size: 16px;
    }
    .slider-location p {
        font-size: 15px;
    }
    .slider-location p:last-child {
        font-size: 15px;
    }
    //main-page-end

    //plane page
    .price h1 {
        font-size: 40px;
    }
    .price h2 {
        font-size: 40px;
    }
    .margin-top-help {
        margin-top: 53px !important;
    }

}

@media only screen and (max-width: 555px) {

    .logo-message p {
        font-size: 13px;
        margin: 5px 0 0 30px;
    }
    .footer-left-block p {
        font-size: 25px;
    }
    .footer-center-block p {
        font-size: 17px;
    }

    //main-page
    .slider-describe {
        font-size: 10px;
    }
    .slider-time p {
        font-size: 21px;
    }
    .slider-location p:first-child {
        font-size: 14px;
    }
    .slider-location p {
        font-size: 13px;
    }
    .slider-location p:last-child {
        font-size: 13px;
    }
    .slider-context h1 {
        margin-top: 220px;
        font-size: 35px;
    }
    //main-page-end

    //company
    .ninja-forms-all-fields-wrap input[type="submit"] {
        width: 70%;
    }
    //end-company

    //plane page
    .flu-hours p {
        font-size: 14px;
    }
    .spend-time h5 {
        font-size: 18px;
    }
    .spend-time h6 {
        margin: 0;
        font-size: 18px;
    }
    .price h5 {
        font-size: 15px;
    }
    .price h1 {
        font-size: 30px;
    }
    .price h2 {
        font-size: 30px;
    }
    .flu-hours h3 {
        font-size: 40px;
    }
    .title-prise h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 469px) {

    .menu-container ul li a {
        padding: 10px 5px;
    }
    .logo-message p {
        font-size: 11px;
        margin: 5px 0 0 5px;
    }
    .logo img {
        width: 150px;
    }
    //main-page
    .slider-describe {
        font-size: 8px;
    }
    //end-main-page

    //plane page
    .flu-hours p {
        font-size: 12px;
    }
    .spend-time h5 {
        font-size: 15px;
    }
    .spend-time h6 {
        font-size: 12px;
    }
    .price p {
        font-size: 14px;
    }
    .price h1 {
        font-size: 25px;
    }
    .price h2 {
        font-size: 25px;
    }
    .flu-parameters-img {
        margin-right: 0px;
    }
    .cycloneslider-width-responsive {
        height: 350px !important;
    }

}

@media only screen and (max-width: 395px) {

    .logo-message p {
        font-size: 9px;
    }
    .menu-container ul li a {
        font-size: 12px;
    }
    .menu-container ul li {
        margin-left: 0px;
    }
    .footer-center-block p {
        font-size: 14px;
    }
    //main-page
    .slider-describe {
      /*  font-size: 7px;*/
        font-size: 19px;
    }
    //end-main-page


    //aircraft
    .aircraft-img-left img ,.aircraft-img-rigt img   {
        width: 100%;
    }
    //end-aircraft

}

@media only screen and (max-width: 370px) {

    .menu-container ul li {
        margin-left: 0px;
    }

    .logo-message p {
        font-size: 8px;
        margin: 5px 0 0 0px;
    }
    .logo img {
        width: 129px;
        height: 28px;
    }
    .footer-left-block p {
        font-size: 20px;
    }
    .footer-center-block p {
        font-size: 12px;
    }

    //company
    .ninja-forms-all-fields-wrap input, .ninja-forms-all-fields-wrap textarea {
        width: 65%;
    }
    .ninja-forms-all-fields-wrap input[type="submit"] {
        width: 65%;
    }
    //end-company

    //plane page
    .flu-parameters-context h2 {
        font-size: 14px;
    }
    .flu-parameters-context p {
        font-size: 13px;
    }
    .flu-parameters-context {
        width: 70%;
    }
    .flu-hours p {
        font-size: 7px;
    }


}
