@import "bootstrap/bootstrap.css";
@import "bootstrap/bootstrap-grid-3.3.1.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

.admin-wraper > .container {
    max-width: 1100px;
    margin: 0 auto;
}
.admin-wraper > .container .row {
    margin-top: 40px;
    border-bottom: 1px rgba(211, 207, 7, 0.92) solid;
}

.admin-table {
    text-align: center;
}

.data-of-costumer span {
    display: inline-block;
    font-size: 13px;
}
.data-of-costumer span:nth-child(1){
    font-size: 15px;
    color: #d54e21;
    width: 30%;
}
.data-of-costumer h2 {
    margin: 0;
    font-size: 17px;
}

.form-wraper {
    margin-top: 20px;
}
.form-wraper input  {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 0px;
    height: 28px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
}
.form-wraper  input[type="button"] {
    background-color: #f1c00a;
    font-size: 15px;
    padding: 0 7%;
}