.terms_of_use-wrap {
  padding-top: 80px;
  h1 {
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-weight: bold;
    @include standart-font (28px);
  }
}
.terms_of_use-block {

  p {
    margin: 10px 0;
    @include standart-font (14px);
  }

}