
.plane-flu-parameters-block {
  background-color: #605E5E;
}
.plane-parameters-block {
  padding-top: 63px;
  img {
    width: 100%;
    height: 450px;
  }


}
.plane-parameters {
  text-align: center;
  img {
    margin: 20px 0 10px 0;
    width: 73px;
    height: 73px;
  }
  p{
    margin: 0;
    text-transform: uppercase;
    @include standart-font (22px);
  }
}

.plane-experience-block {
  margin-top: 20px;
  background-color: #000000;

  h1 {
    margin: 30px 0 10px 0;
    @include standart-font (36px);
    color: white;
  }

  p {
    margin: 20px 0;
    @include standart-font (16px);
    color: white;
  }
}

.video {
  padding: 30px 10px 0 0 ;
}

//youtube
.ytp-title-text {
  display: none!important;
}

.flu-description {
  padding: 20px 0 30px 0;
  background-color: #605E5E;
}
.flu-parameters {
  margin: 20px 0;
}
.flu-parameters-img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.flu-parameters-context {
  position: relative;
  top: 6px ;
  display: inline-block;
  width: 82%;
  h2 {
    margin:  0;
    @include standart-font (25px);
    text-transform: uppercase;
    color: white;

  }
  p {
    margin: 0;
    @include standart-font (15px);
    color: white;
  }
}
.margin-flu-parameters {
  margin-top: 85px;
}

.title-prise-block {
  text-align: center;
  background: black;
}
.title-prise {
  padding: 30px 0;
  h2 {
    margin: 0;
    @include standart-font (36px);
    color: white;
  }
}

//prise-block
.prise-block {
  margin-top: 30px;
  text-align: center;
}

.flu-hours {
  h3 {
    margin: 0;
    @include standart-font (72px);
    color: white;
  }
  p {
    margin: 5px 0;
    @include standart-font (16px);
    color: white;
  }
}

.another-color {
  color: #CCC!important;
}


.spend-time {

  h4 {
    margin: 30px 0 0 0;
    @include standart-font (48px);
    color: white;
  }
  p {
    margin: 0;
    @include standart-font (16px);
    color: white;
  }
  h5 {
    margin: 30px 0;
    @include standart-font (24px);
    color: white;
  }
  h6 {
    margin: 0;
    @include standart-font (24px);
    color: white;
  }

}
.price {
  margin: 60px 0 20px 0;
  h1 {
    margin:  0;
    @include standart-font (60px);
    color: white;
  }
  p {
    margin: 0;
    @include standart-font (16px);
    color: white;
  }
  h5 {
    margin: 30px 0;
    @include standart-font (24px);
    color: white;
  }
  h2 {
    padding-top: 36px;
    margin:  0;
    @include standart-font (60px);
    color: white;
  }
}
.margin-help {
  margin: 30px 0 0 0 !important;
}
.margin-top-help {
  margin-top: 86px!important;
}
