/*
.owl-carousel-735683378 {


}

.owl-carousel .item img {
  padding: 0 20px;
  cursor: pointer;
  opacity: 0.25;
  background-size: cover;
  background-position: 50%
}
.owl-carousel .owl-item {

}
*/

//
#cycloneslider-slider-1 {
  max-width: none!important;

}
#cycloneslider-slider-1-pager {
  max-width: 100%!important;
}

//plane-slider-1
#cycloneslider-slider-of-plane-1-1 {
  max-width: none!important;

}
#cycloneslider-slider-of-plane-1-1-pager {
  max-width: 100%!important;
}
//plane-slider-2
#cycloneslider-slider-of-plane-2-1 {
  max-width: none!important;

}
#cycloneslider-slider-of-plane-2-1-pager {
  max-width: 100%!important;
}
//plane-slider-3

#cycloneslider-slider-of-plane-3-1 {
  max-width: none!important;

}
#cycloneslider-slider-of-plane-3-1-pager {
  max-width: 100%!important;
}

.cycloneslider-width-responsive {
  height: 450px!important;

}
.cycloneslider-template-thumbnails div[data-cycle-dynamic-height="off"] .cycloneslider-slide-image {
  height: 450px!important;
}
.cycloneslider-slide img {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: 100%!important;
  height: 450px!important;
  border: 0px none;
}
.cycloneslider-template-thumbnails .cycloneslider-slide {
  background: none!important;
}

.cycloneslider-template-thumbnails div[data-cycle-dynamic-height="off"] .cycloneslider-slide-image {
  height: 450px !important;
}
.cycloneslider-template-thumbnails div[data-cycle-dynamic-height="off"] .cycloneslider-slide-image {
  height: 100%;
}
.cycloneslider-template-thumbnails .cycloneslider-slide {
  width:100%!important;
  background: transparent none repeat scroll 0% 0% !important;

}
